<%= @game.player_1.name %> vs. <%= @game.player_2.name %>
<br>
<%= @game.player_1.name %> has <%= @game.player_1.hit_points %> hit points
<br>  
<%= @game.player_2.name %> has <%= @game.player_2.hit_points %> hit points
<br>
<%= @game.current_turn.name %>'s turn
<br>
<form action="/attack" method="post">
  <input type="submit" value="Attack">
</form> 