<%= @player_1.name %> vs. <%= @player_2.name %>
<br>
<%= @player_1.name %> has <%= @player_1.hit_points %> hit points
<br>  
<%= @player_2.name %> has <%= @player_2.hit_points %> hit points
<br>
<a href="/attack">Attack</a>